.addProduct{
    border: 1px solid lightcyan;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    background-color: beige;
   margin-top: 20px;
    
}
img{
    width:100%;
}
.buyBtn{
    margin-left: 150px;
}