.product{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

@media (max-width:688px){
    .product{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 15px;
    }
}